{% extends 'base/base.html.twig' %}
{% use 'base/header.html.twig' %}

{% block title %}Louis Fremeaux{% endblock %}

{% block body %}
<div>
    <h2>Louis Fremeaux</h2>
    <h1>Développeur Full-Stack</h1>
</div>
{% endblock %}

{% use 'base/footer.html.twig' %}
