{% block header %}
<header class="w-screen header fixed justify-around border-b-2 border-stone-600 text-white flex flex-row">
    <div class="p-6">
        <span class="text-4xl pr-50">Louis's portfolio</span>
    </div>
    <div class="">
        <nav class="text-xl">
            <a href="/">Home</a>
            <a href="/about">Projets</a>
            <a href="/cv">CV</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>
{% endblock %}
